@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/*start body*/
body{
	direction: rtl;
	font-family: IRANsans;
	background-image:url("../../../bootstrap/E05/code/code_05/img/39868621-java-wallpapers-405x230.png");
    background-repeat: no-repeat;
    background-size: 100% 700px;
}
/*end body*/
/*start menu*/
.bac{
	float: right;
}
ul{
	overflow: hidden;
	padding: 20px;
}
li{
	cursor: pointer;
	float: right;
    list-style-type: none;
}
li{
	margin: 10px;
}
/*end menu*/
/*start about us*/
.p1{
	float: left;
	margin: 30px;
}
.p1:hover{
	color: #fff;
	cursor: pointer;
	background-color: #747474;
}
/*end about us*/

/*start buttom learn*/
.p2{
	cursor: pointer;
	font-size: 17px;
	border: none;
	background-color: rgba(109,6,133,1.00);
	padding: 5px;
	border-radius: 5px;
	margin: 0px auto;
	display: block;
	transition: ease 0.5s all;
}
.p2 a{
	text-decoration: none;
	color: #D1D1D1;
}
.p2:hover{
	color: #fff;
	background-color: rgba(197,10,240,1.00);
}
/*end buttom learn*/
/*start span subject*/
.bold3{
	padding: 70px 0px 0px 0px;
	text-align: center;
	font-size: 35px;
}
.p3{
	text-align: center;
}
/*end span subject*/
/*start bacground*/
.box1{
    text-align: center;
	width: auto;
	background-color: #ccc;	
	height: 650px;
}
/*end bacground*/
/*start subject 1,2,3*/
.sub,.sub1,.sub2{
	padding: 20px;
	overflow: hidden;
	display: inline-block;
	margin: 5px 5%;
	border: solid 2px #eee;
	width: 20%;
	transition: ease 0.4s all;
}
.bold4,.bold5,.bold6,.bold7,.bold8,.bold9{
	color: #000;
}
.sub:hover,.sub1:hover,.sub2:hover{
	background-color: #eee;
}
/*end subject 1,2,3*/
.bold10{
	font-size: 30px;
	text-align: center;
}
.bold11{
	font-size: 17px;
	text-align: center;
	color: #787878;
}
.hr1{
	color: #9C9C9C;
	margin: 20px 15%;
}
/*start audience*/
.img4,.img5,.img6{
	width: 60px;
	height: 60px;
	vertical-align: middle;
    border-radius: 80px;
	float: right;
	margin-right: 17%;
}
.sp1,.sp2,.sp3{
	display:  inline list-item;
	padding: 0px 10px 0px 0px;
	font-size: 23px;
}
.a5,.a6,.a7{
	text-decoration: none;
	color: #000;
}
.box2:hover,.box3:hover,.box4:hover{
	transition:ease 0.4s all;
	background-color: #ccc;
	cursor: pointer;
}
/*end audience*/
.hr2{
	color: #9C9C9C;
	margin: 20px 21%;
}
.sp4{
	text-align: center;
	font-size: 14px;
	color: #6C6C6C;
}
.bu1{
	border: none;
	color: #D1D1D1;
	background-color: rgba(134,7,164,1.00);
	padding: 10px;
	font-size: 17px;
	border-radius: 10px;
	cursor: pointer;
	transition:ease 0.4s all;
}
.bu1:hover{
	color: #fff;
	background-color: rgba(197,10,240,1.00);
}.bu{
	margin: 30px;
	text-align: center;
}
.box5{
	width: auto;
	background-color: rgba(134,7,164,1.00);
	height: 600px;
}
.box6{
	margin-top: 50px;
}
.lg1{
	margin-top: 90px;
}
.in1,.in2{
	padding: 7px;
	border: none;
	width: 15%;
}
.in1:focus,.in2:focus{
	background-color: yellow;
}
.tex1{
	width: 18%;
	height: 150px;
}
.in3,.in4{
	background-color: palegreen;
	border-radius: 5px;
	border: none;
	padding: 7px;
	cursor: pointer;
	transition: ease 0.4s all;
}
.in3:hover,.in4:hover{
	background-color: limegreen;
}
.a8{
	width: 40px;
	height: 40px;
	margin: 5px 40px 0px 0px;
}
.a{
	transition: ease 0.4s all;
}
.box7{
	background-color: dimgray;
	width: auto;
	height: 65px;
}
.in5{
	 text-align: center;
	 margin-top: 18px;
	 cursor: no-drop;
}
.box8{
	margin-right: 50px;
}